* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.woff2'),
    url('../fonts/MullerLight.woff');
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2'),
    url('../fonts/MullerRegular.woff');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2'),
    url('../fonts/MullerMedium.woff');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2'),
    url('../fonts/MullerBold.woff');
  font-display: swap;
  font-weight: 700;
}
:root {
  --accent-color: #cc9933;
  --accent-active: #a47312;
}

body {
  min-width: 1170px;
  font-family: 'Muller', sans-serif;
  background-color: #f1f1f1;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}
.product-box{
              display: flex;
                flex-wrap: wrap;
              justify-content: space-between;

}
.product{
              box-sizing: border-box;
              background: #FFFFFF;
              border-radius: 10px;
              border: #000000;
              border-style: groove;
              display: flex;
              flex-direction: row;
              padding-top: 10px;
              padding-bottom: 10px;
              margin-right:auto;
}
.top-info-heading {
              font-size: 32px;
              color: #1F3F68;
              width: 510px;
              font-weight: 300;
              line-height: 74px;
              letter-spacing: 0.04em;
              margin-bottom: 32px;
}
.product-description{
              font-size: 20px;
              color: #1F3F68;
              letter-spacing: 0.05em;
              margin-bottom: 10px;
}
.buttons{
              display: flex;
              flex-direction: row;
              margin-left: auto;
}
.article__btn {
  border: 1px solid currentColor;
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 16px;
  line-height: 16px;
  color: #7133cc;;
  background-color: transparent;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 0.3s;
}

.article__btn:focus {
  outline: none;
  color: #fff;
  background-color: #7133cc;;
}

.article__btn:hover {
  color: #fff;
  background-color: #7133cc;;
}

.article__btn:active {
  color: #fff;
  background-color: #7133cc;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.placement__list {
  display: flex;
  flex-wrap: wrap;
}

