<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" link href="../static/style.css" th:href="@{/style.css}">
    <title>Customers</title>
</head>
<body>
<form name="customer_form" action="/customers/showInfo" method="get">
    <h1 class="top-info-heading">All customers</h1>
    <div class="container placement__list">
        <div class="product-box">
            <ul class="services__title">
                <th:block th:each="customer : ${customers}">
                    <div class="product product-description"><input type="radio" name="id" th:value="${customer.id}"
                                                                    th:text="'| #' + ${customer.id} + ' | ' + ${customer.name} ">
                    </div>
                </th:block>
            </ul>
        </div>
        <div class="container">
            <p>
                <button type="submit" class="article__btn">Show orders</button>
            </p>
            <p>
                <button type="submit" class="article__btn" onclick="customer_form.action = '/products'">Go to store
                </button>
            </p>
            <p>
                <button type="submit" class="article__btn" onclick="customer_form.action = '/customers/delete'">Delete
                    customer
                </button>
            </p>
        </div>
    </div>
</form>
</body>
</html>