<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" link href="../static/style.css" th:href="@{/style.css}">
    <title>Home</title>
</head>
<body>
<form name="product_form" action="/products/toCart" method="get">
    <h1 class="top-info-heading">All products</h1>
    <div class="product-box"><ul>
        <th:block th:each="product : ${products}">
            <div class="product product-description"><input type="checkbox" name="id" th:value="${product.id}"
                      th:text="'| #' + ${product.id} + ' | ' + ${product.name} + ' | '+ ${product.cost} + ' | '"></div>
        </th:block>
    </ul></div>
    <p>
        <button type="submit">Add to cart</button>
    </p>
    <p>
        <button type="button" onclick="location.href='/cart'">Go to cart</button>
    </p>
    <p>
        <button type="button" onclick="location.href='/products/new'">Add new product</button>
    </p>
    <p>
        <button type="submit" onclick="product_form.action = '/products/delete'">Delete products</button>
    </p>
    <form/>
</body>
</html>