<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">

<head>
  <title>New Product</title>
  <meta charset="utf-8">
  <link rel="stylesheet" link href="../static/style.css" th:href="@{/style.css}">
</head>
<body>
<form action="add" method="get">
  <h1 class="top-info-heading">New product</h1>
  <ul>
    <li id="li_1">
      <div>ID:
        <input id="id" name="id" type="text"/>
      </div>
    </li>
    <br>
    <li id="li_2">
      <div>Name:
        <input id="name" name="name" type="text" />
      </div>
    </li>
    <br>
    <li id="li_3">
      <div>Cost:
        <input id="cost" name="cost" type="text" />
      </div>
    </li>
    <br>
    <li>
      <input type="submit" value="Add" />
    </li>
  </ul>
</form>
</body>
</html>
