<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">

<head>
    <title>Online store</title>
    <meta charset="utf-8">
    <link rel="stylesheet" link href="../static/style.css" th:href="@{/style.css}">
</head>
<body>
<form action="/auth" method="get">
    <h1 class="top-info-heading">Welcome to online store!</h1>
            <div>Login:
                <input class="services__title" name="customer" type="text"/>
            </div>
        <br>
    <div>Password:
        <input class="services__title" name="password" type="text"/>
    </div>
    <br>
    <div>
        <output class="services__title" th:text="${message}" type="text"/>
    </div>
    <br>
            <input type="submit" class="article__btn" value="Registration" />
            <input type="button" class="article__btn" onclick="location.href = '/login'" value="Already registered" />
</form>
</body>
</html>